<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="tube.png" rel="shortcut icon"/>
    <link rel="stylesheet" href="main.css">
    <title>APP-chemicals</title>
</head>
<body>
    <header>
        <nav>
            <div><a href="./">Расчет давления труб</a></div>
            <div><a href="./chemicals">Химические вещества</a></div>
        </nav>
    </header>
    <main>

    </main>
</body>
</html>
<script>




</script>